.container {
  padding: 20px;
  max-width: 1400px;
  margin: auto;
}

/* Header */
.mng-title {
  color: #333;
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #335980;
  padding: 3px;
  color: white;
  border-radius: 5px;
}

.header-buttons .btn {
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 0.9em;
  text-decoration: none;
}

.btn-danger {
  background-color: #d9534f;
  color: white;
  border-radius: 5px;
}

.btn-success {
  background-color: #5cb85c;
  color: white;
  border-radius: 5px;
}

.header-buttons .btn:hover {
  filter: brightness(85%);
  text-decoration: none;
}

/* Table styling */
.table-container {
  max-width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #ddd;
}

.table th,
.table td {
  padding: 6px;
  border: 1px solid #ddd;
  text-align: left;
  white-space: normal;;
}

.table th {
  background-color: #F4A460;
  color: white;
}

/* Specific column widths */
.table th:first-child,
.table td:first-child {
  width: 5%; /* Checkbox column */
}

.table th:nth-child(2),
.table td:nth-child(2) {
  width: 13%; /* Name column */
}

.table th:nth-child(3),
.table td:nth-child(3) {
  width: 5%; /* Gender column */
}

.table th:nth-child(4),
.table td:nth-child(4) {
  width: 5%; /* Age column */
}

.table th:nth-child(5),
.table td:nth-child(5) {
  width: 15%; /* Date of Birth column */
}

.table th:nth-child(6),
.table td:nth-child(6) {
  width: 8%; /* Phone column */
}

.table th:nth-child(7),
.table td:nth-child(7) {
  width: 15%; /* Email column */
}

.table th:nth-child(8),
.table td:nth-child(8) {
  width: 15%; /* Address column */
}

.table th:nth-child(9),
.table td:nth-child(9) {
  width: 10%; /* Medical Condition column */
}

.table th:nth-child(10),
.table td:nth-child(10) {
  width: 10%; /* Medical Status column */
}

.table th:nth-child(11),
.table td:nth-child(11) {
  width: 15%; /* Last Health Check Date column */
}

.table th:last-child,
.table td:last-child {
  width: 50%; /* Actions column */
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

/* Icons styling */
.icon-button {
  display: inline-block;
  margin-right: 10px;
  padding: 5px;
  color: #555;
  cursor: pointer;
  font-size: 1.2em;
  background: none;
  border: none;
}

.icon-button:hover {
  color: #007bff;
}

/* Pagination styling */
.pagination {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagination a,
.pagination span {
  padding: 8px 12px;
  margin: 0 5px;
  color: #007bff;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.pagination a:hover {
  background-color: #007bff;
  color: white;
}

.pagination span {
  font-weight: bold;
  color: #333;
}
